html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-wrapper {
  width: auto;
  text-align: center;
}

.container {
  width: auto;
  text-align: center;
}

.logo {
  width: 125px;
  height: 125px;
}

#box1 {
  width: auto;
  height: auto;
  background:#bf7979;
  padding: 10px;
  color: #ffffff;
  }  

#box2 {
  width: auto;
  height: auto;
  background:#ffdddd;
  padding: 10px;
  color: #000000;
  align-content: center;
  }

.btn-wrapper {
    margin: 10px 0;
  }

.a {
  text-decoration: none;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

.home {
  background-color: rgb(154, 15, 0);
  margin-right: 10px;
}

.about-me {
  background-color: rgb(154, 15, 0);
  margin-right: 10px;
}

.porto {
  background-color: rgb(154, 15, 0);
  margin-right: 10px;
}

.commis {
  background-color: rgb(154, 15, 0);
  margin-right: 10px;
}

.contact {
  background-color: rgb(154, 15, 0);
}
